:root {
    --primary: #25abd9;
}

* {
    box-sizing: border-box;
}

body {
    align-items: center;
    background-color: #333;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 350px;
    justify-content: center;
    width: 500px;
}

.button {
    background: none;
    border: 0;
    color: aliceblue;
    cursor: pointer;
    font-size: 20px;
    padding: 20px 50px;
    position: relative;
}

.button__border {
    border: solid 2px var(--primary);
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: transform 0.1s ease;
}
